<h1><%= @auction.title %></h1>

<h3><%= @auction.details %></h3>

<%= simple_form_for [@auction, @bid] do |f| %>

  <%= f.input :price %>
  <%= f.submit %>

<% end %>
<div style="display: inline-block">
  <% if @bids %>
  Previous Bids
  <hr>
    <% @bids.each do |bid| %>
      <div>
        <%= bid.price %>$ at <%= bid.created_at.strftime("%d %b. %Y") %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="">
<br>

  Current Price:  $<%= @auction.current_price %>
  <br><br>
</div>
<div>
  <% if @auction.current_price && @auction.current_price >= @auction.reserve_price %>

    Reserve price met

  <% else %>

    Reserve Price Not Met

  <% end %>
</div>
